#scrollable-dropdown-menu .tt-dropdown-menu {
  max-height: 150px;
  overflow-y: auto;
  
}

.blueResultsLink{

  font-size: 24px;
  font-color: blue;
}

#myOwnCarousel{

    background-color: white;
}

.container-fluid {
    padding: 0px;
}

body, html {  background-color: white}


.imageResult{

    background-color: white;
    height:200px;
}

#productBox{

   background-color: white;
   border: 1px solid gray; 
   height:210px;
}

.resultImg{

margin-bottom: 10px;
}

.border{
  border: 2px solid gray;
}
.btnClothes{

border: 0;
padding: 0;

}

#bestItems{
  background-color: white;
}

.small_border{
border-width: 2px;   border-color: gray;   border-style: solid;
background-color: white;
}

#results{
  background-color: white;
}

