#scrollable-dropdown-menu .tt-dropdown-menu {
  max-height: 150px;
  overflow-y: auto;
  
}

.blueResultsLink{

  font-size: 24px;
  color: DarkGrey;

}

#myOwnCarousel{

    background-color: white;
}

.container-fluid {
    padding: 0px;
}

body, html {  background-color: white}


.imageResult{

    background-color: white;
    height:200px;
}

#productBox{

   background-color: white;
   border: 1px solid gray; 
   height:210px;
}

.greenLayer{
    background-color: rgba(248, 247, 216, 0.7);

}
.resultImg{

margin-bottom: 10px;
}

.border{
  border: 2px solid gray;
}
.btnClothes{

border: 0;
padding: 0;

}

#bestItems{
  background-color: white;
}

.small_border{
border-width: 2px;   border-color: gray;   border-style: solid;
background-color: white;
}

#results{
  background-color: white;
}

    .video-thumbnail {
      position: relative;
    }
    .glyphicon-ok {
      font-size: 500%;
      position: absolute;
      left: 50%;
      top: 50%;
      -ms-transform: translate(-50%, -50%);
      -webkit-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      color: green;
      text-shadow: 2px 2px Silver;
      visibility: hidden;
    }