#scrollable-dropdown-menu .tt-dropdown-menu {
  max-height: 150px;
  overflow-y: auto;
  
}

#myOwnCarousel{

    background-color: white;
}

.container-fluid {
    padding: 0px;
}

body, html {  background-color: lightblue}


.imageResult{

    background-color: white;
    height:200px;
}

#productBox{

   background-color: white;
   border: 1px solid gray; 
   height:210px;
}

.btnClothes{

border: 0;
padding: 0;

}

#bestItems{
  background-color: white;
}

.border{
border-width: 2px;   border-color: gray;   border-style: solid;
background-color: white;
}

#results{
  background-color: white;
}

