{% extends 'navbar.html' %}
{% block title %}Your Searches{% endblock %}
 

{% block content %}
<h1>Hello, {{name}}</h1><br>
{% for saved_search in saved_searches %}
<div class="container-fluid">
<div class="row-fluid">
    <div class='col-md-2 resultBoxhl' id="productBox">
    <!-- Button trigger modal -->
<!-- <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
  Launch demo modal
</button> -->

 <!-- <a href="#bannerformmodal" data-toggle="modal" data-target="#bannerformmodal"> -->

   <a href="#" class="btn btn-primary btn-lg btnClothes" data-toggle="modal" data-target="#myModal{{saved_search.product.product_id}}">


    <img src ='{{saved_search.product.image}}' data-product-description='{{saved_search.product.description}}' data-product-name='{{saved_search.product.name}}' data-product-clickurl='{{saved_search.product.click_url}}'></a>


</div>
</div>


<!-- Modal -->
<div class="modal fade" id="myModal{{saved_search.product.product_id}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">{{saved_search.product.name}}</h4>
      </div>
      <div class="modal-body">
        
        {{saved_search.product.description|safe}}
      <br><br>
        <a href="{{saved_search.product.click_url}}">Find in a store</a> 
               

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        
      </div>
    </div>
  </div>
</div>
<!-- end modal -->
{% endfor %}

<script>
      
</script>

{% endblock %}
