<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Find Clothing that you want</title>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>


</head>

<body>

<br>
<br>


<script>

$( document ).ready(function() {
$('#the-basics').on('keyup', function(){
  console.log('we are running');
    var searchTerm = $('#the-basics').val();
    $.get('/searchData?the-basics=' + searchTerm, function(results){

      $('#results').html("");

      for (result of results){
        var result_div = "<div>" + result.name + "<form action='/save' method='post'><input name='product_id' type='hidden' value="+ result.id +"><input type='submit' value='Save Search Results'></form></div>";
        $('#results').append(result_div);
      }
      

    });


});
});
</script>

<br><br>
<a href="/display">See your saved searches</a>


</body>


<form>

  <input id = "the-basics" type="text" placeholder="Search Clothing">

<div id="results">



  </div>

</form>

</html>

