{% extends 'navbar.html' %}
{% block title %}Find Clothing that you want{% endblock %}
 {% block content %}

<div class="container-fluid sidebar">

<!-- <br><br>
{% if session['user_id'] %}
<a href="/display"><button type='button'>See your saved searches</button></a>
{% endif %}

<form>
  <input id = "the-basics" type="text" placeholder="Search Clothing">
  <input type='submit' id='submitBtn'>
<div id="results" class="row"></div>
</form> -->
<!-- <div id="myOwnCarousel" class="transition">
      {% for image_result in image_results %}
      <img src="{{image_result.image}}">
    {% endfor %}
    

</div> -->
<div class="row-fluid imageResult">
  <div id="myOwnCarousel">

  </div>
</div>

 
<div class="row-fluid">
  <div class="col-md-12 resultBoxhl">
    <button id="seeNextTen">Move</button>
  </div>
</div>

<div class="row-fluid">
  <div id="results" class="col-md-12 resultBoxhl"></div>
</div>

<div class="row-fluid">
  <div id="bestItems" class="col-md-12 resultBoxhl"></div>
</div>
</div>


{% endblock %}